@charset "utf-8";

body{
    /* background-color: #ccc; */
}

#main-title{
    text-align: center;
    margin: 15px 0px 30px;
}

#main-title-show{
    margin: 15px 0px;
    font-weight: bold;
}

/* home css */
#contacts-table{
    max-width: 800px;
    margin: 0 auto;
}

#contacts-table thead{
    color: white;
    /* background-color: black; */
    text-align: center;
}

#contacts-table thead th{
    background-color: #09f;
    color:white;
}

#contacts-table tr td {
    text-align: center;
    /* border:1px solid red; */
}

.actions{
    text-align: right;
    width: 150px;
}

/* icones */
.actions i{
    font-size: 18px;
    margin-right: 5px;
    /* border:1px solid red; */
}

.actions i{
    opacity: .8;
}

.actions i:hover{
    opacity: 1;
}

/* cor do icone do olho */
.check-icon{
    color: #1e7e34;
}

/* cor do icone de edit */
.edit-icon{
    color: #09f;
}

/* cor do delete */
.delete-icon{
    color: red;
}

/* o btn delete */
.delete-btn{
    border:none;
    text-align: center;
    background-color: #fff;
    padding: 0;
}

#empty-list-text{
    text-align: center;
}

#msg{
    color: #155724;
    background-color: #d4edda;
    border:1px solid #c3e6cb;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

.call-id{
    font-weight: bold;
}


/* SHOW: MOSTRANDO O CONTATO INDIVIDUAL */
#view-contact-container{
    max-width: 500px;
    margin: 0 auto;
    /* border:1px solid black; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    border-radius: 5px;
    padding: 10px 15px;
    box-sizing: border-box;
    margin-top: 5px;
}

.bold{
    font-weight: bold;
}


#back-link-container #back-link{
    text-align: center;
    border:1px solid #09f;
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

#back-link-container #back-link:hover{
    background-color: #09f;
    border:1px solid #09f;
    color: white;
    transition: all linear .5s;

}

/* btn submit do create */
.btn_submit{
    width: 100%;
    padding: 5px;
    margin:5px 0px;
    background-color: white;
    border: 1px solid #09f;
    border-radius: 5px;
    color: #09f;
}


.btn_submit:hover{
    background-color: #09f;
    border:1px solid #09f;
    color: white;
    transition: all linear .5s;
}

#create-form, #edit-form{
    max-width: 500px;
    margin: 0 auto;
}
